################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################


*.csproj
*.config
*.sln
*.suo
*.cache
*.exe
*.pdb
*.ide
*.ide-shm
*.ide-wal
*.lock
